html, head, body {
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Verdana', sans-serif;
  color: #626063;
  animation: fadeIn 1.5s ease 0s 1 normal;
}

a {
  color: #626063;
  &:hover {
    color: #dc143c;
  }
}

::selection {
  background: #ffe4e1;
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
